:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:hover {
  border-color: #5c5c5c;
}

@keyframes bounce {
  0%, 80%, 100% { transform: scale(0); opacity: 0.6; }
  40% { transform: scale(1); opacity: 1; }
}
